body {
	display: flex;
	flex-direction: column;
	margin: 1rem;
	background: #000000;
	color: #ffffff;
}

header .clock-span {
	position: relative;
	font-size: 4rem;
}

main {
	display: flex;
	justify-content: center;
	margin: 2rem 1rem 5rem;
}
.bookmarks-container {
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 90%;
	height: 30vh;
	min-height: 20vh;
}

footer {
	display: flex;
	justify-content: center;
	margin: 5rem 1rem 2rem;
}
.footer-object-container {
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 50%;

	height: 20vh;
	min-height: 10vh;
}

.btn-container {
	position: fixed;
	bottom: 5px;
	right: 5px;
}
.settings-button {
	background-color: transparent;
	color: #ffffff;
	display: flex;
	width: 2rem;
	height: 2rem;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	border-radius: 8px;
	font-size: 2rem;
}

@media (max-width: 600px) {
	header .clock-span {
		font-size: 2rem;
	}
	.bookmarks-container {
		width: 20rem;
		height: fit-content;
	}
	.footer-object-container {
		width: 20rem;
		height: fit-content;
	}
}
